<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
  </head>
  <body>
    <h1>検索結果</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/result.js"></script>
  </body>
</html>
