<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>書籍一括検索</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- cb-materialbtn.css -->
    <!--<link href="https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css" ref="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">書籍一括検索</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#search">検索</a>
                    </li>
                    <li id="search-result-li" class="hidden">
                        <a class="page-scroll" href="#search-result">検索結果</a>
                    </li>
                    <!--<li>-->
                    <!--    <a class="page-scroll" href="#contact">Contact</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>書籍一括検索</h1>
                    <p>ISBNでオンライン書店や図書館の在庫、蔵書が検索できます</p>
                    <p>蔵書を検索する場合は住所を入力してください<br>例）石川県 or 石川県金沢市...</p>
                    <a class="btn btn-default page-scroll btn-lg" href="#search">本を探してみる</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="search" class="about-section">
        <div class="container" id="search_view">
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <label class="col-sm-2 control-label" for="ISBN">ISBN</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="ISBN" v-model="ISBN" placeholder="ISBN">
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label class="col-sm-2 control-label" for="address">住所</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="address" v-model="address" placeholder="石川県 or 石川県金沢市 ...">
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" type="button" v-on:click="searchClickHandler">一括検索</button>
            </form>
        </div>
    </section>

    <!-- Services Section -->
    <section id="search-result" class="services-section hidden">
        <div class="container text-left">
            <h3>書籍情報</h3>
            <div class="row" id="book">
                <div class="col-sm-2">
                    <img class="img-responsive" v-bind:src="data.cover">
                </div>
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt>タイトル</dt>
                        <dd>{{data.title}}</dd>
                        <dt>著者</dt>
                        <dd>{{data.author}}</dd>
                        <dt>出版社</dt>
                        <dd>{{data.publisher}}</dd>
                    </dl>
                </div>
            </div>
            <div class="alt-table-responsive" v-bind:class="{hidden: isHidden}" id="library">
                <h3>図書館蔵書</h3>
                <p>{{checkMsg}}</p>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>図書館名</th>
                            <th>貸出状況</th>
                            <th>予約</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO:修正する -->
                        <tr v-for="item in libraryList">
                            <td>
                                <a v-bind:href="item.url_pc">{{item.formal}}</a>
                                <!--<a href:"http://calil.jp/book/"{{item.url_pc}}>{{item.formal}}</a>-->
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm">{{item.lending_status}}</a>
                            </td>
                            <td>
                                <a class="btn btn-success btn-sm" v-bind:href="item.reserveurl">予約する</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!--<section id="contact" class="contact-section">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
    <!--                <h1>Contact Section</h1>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!-- vue -->
    <script src="js/vue.js"></script>

    <!-- isbn -->
    <script src="js/isbn.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/search.js"></script>
</body>

</html>
